.table  {
    border-collapse:collapse;
    border-spacing:0;
    margin:1rem auto;
    width: 900px;

}

.table td{
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }

.table .table-header{
    text-align:left;
    font-weight: bold;
    font-size: 14pt;

    font-family:Arial, sans-serif;
    padding:10px 5px;
  }

.row:nth-child(odd) {
    background-color: #1e1e1e;
}