{% extends 'template.html' %}

{% block main %}

<div class="w3-container" style="margin-top:2.5%">
    <div class="content">
        <h4 class="page-title">Create User</h4>
        <form class="form" method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username(class_="form-control") }}
            <br>
            <br>
            {{ form.password(class_="form-control") }}
            <br>
            <br>
            {{ form.submit }}
        </form>
    </div>
</div>

{% endblock %}