<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{{ title }}</title>
</head>
<body>
<div class="outerWrapper">
    <img class ="logo" src="https://www.panasonic.com/content/dam/Panasonic/Global/Home-Page/Home-Banner/logo-panasonic.svg" width="400px">
    <div class="innerWrapper">
        {% block main %}
        {% endblock %}
    </div>
</div>
</body>
</html>