{% extends 'base.html' %}

<script type=text/javascript>
function copy2FA() {
  const cb = navigator.clipboard;
  const paragraph = document.querySelector('p');
  cb.writeText(paragraph.innerText);
 }
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<a href="{{url_for('logout')}}">Logout</a>
{% block main %}
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card" style="width:15%;right:0;">
  <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Tokens</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>

<!-- Page Content -->
<div style="margin-right:15%">

<div class="w3-container w3-grey" style="padding:10px">
    <img class ="logo" src="https://www.panasonic.com/content/dam/Panasonic/Global/Home-Page/Home-Banner/logo-panasonic.svg" width="250px">
</div>

<div class="w3-container">
<div class="tg-wrap"><table class="tg">
<thead>
  <tr>
    <th class="tg-ru17">Platform</th>
    <th class="tg-ru17">2FA Code</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Name</td>
    <td class="tg-0lax"><div class="card-box" onclick="copy2FA()">XXXXXX</div></td>
  </tr>
</tbody>
</table></div>
</div>

</div>

</body>
{% endblock %}

