{% extends 'templates/template.html' %}

{% block main %}
<button class="floating-btn"><a href="{{url_for('admin_dashboard')}}"><img
        src="{{url_for('static', filename='img/padlock.svg')}}" style="width:10px"></a></button>

<div class="w3-container" style="margin-top: 2.5%">
    <h4 class="page-title">Two Factor Authentication</h4>
    <div class="content" style="width:1000px">
        <table class="table">
            <thead>
            <tr>
                <th class="table-header">Platform</th>
                <th class="table-header">2FA Code
                    <div class="loader">
                        <div class="inner-circle"/>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for token in tokens %}
            <tr class="row">
                <td>{{ token[1] }}</td>
                <td id="copyBtn{{ token[2] }}" onclick="copy2FA({{ token[2] }})" style="cursor:pointer">{{ token[2] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
// Reloads the div every 30 secs to update TOTP
setInterval(function(){$(".table").load(" .table > *")}, 30000)

// 15 minutes timeout to refresh the page
 var global = setTimeout(function(){
      location.reload();
    }, 900000);

function copy2FA(token){
    var tmp = document.getElementById('copyBtn' + token);
    var temp = tmp.textContent;
    var el = document.createElement('textarea');
    el.value = temp;
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    var btnCopy = tmp;
    btnCopy.style.backgroundColor = "green";
    setTimeout(function(){btnCopy.style.backgroundColor = "initial"},5000)
    document.body.removeChild(el);
}
</script>

{% endblock %}